body{
  background-color:violet;
}

.one{
  text-align: center;
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.span{
color: yellow;
}

.two{
  border: 2px solid white;
  padding: 6px;
  margin: 20px;
  background-color: gray;
}

.three {
  width: 30%;
  float: right;
  background-color: yellow;
}

img {
  max-width: 66%;
  height: auto;
}

.four{
  float: right;
}