.one{
  text-align: center;
  text-decoration: underline;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.span{
color: yellow;
}

.two{
  border: 2px solid white;
  padding: 6px;
  margin: 20px;
  background-color: gray;
}

.three {
  width: 30%;
  float: right;
  background-color: yellow;
}

img {
  width: auto;
  height: auto;
}

.four{
  float: right;
}

.six{
  background-color: rgba(255, 230, 0, 0.5);
  margin-left: 26%;
  margin-right: 18%;
  opacity: 1.5;
  border-radius: 10px;
}

.eight{
  color: black;
  background-color: gray;
  float: left;
}
.nine{
  text-decoration: underline;
  color:black;
  font-size: larger;
}
.ten{
  background-color: chartreuse;
  font-family:'Tangerine', cursive;
  margin-left: 26%;
  margin-right: 18%;
  opacity: 1.5;
  border-radius: 10px;
}
#display{
  font-size: 40px;
  font-family:'Tangerine', cursive;
}

.eleven{
  background-color: cornflowerblue;
  border-radius: 20%;
  opacity: 1.5;
}